-#----------------------------------------------------------------------------#
-#   invite.haml                                                              #
-#                                                                            #
-#   Copyright (c) 2015, Seventy Four, Inc.                                   #
-#   All rights reserved.                                                     #
-#----------------------------------------------------------------------------#



- if following
  %form{method: 'post'}
    - following.each do |user|
      %input{id: "user-#{user.login}", class: "user-#{user.login}",
             type: 'checkbox', name: 'users[]', value: user.login}
      %label{class: "user-#{user.login}", for: "user-#{user.login}"}
        %img{src: user.avatar_url, alt: user.login}
        #{user.login}
    %input{type: 'submit', value: 'Invite Collaborators'}
  %p#thank-you Thank you!
- else
  %p
    You can only invite people who you&rsquo;re following on GitHub to
    collaborate on Basilisk.  You&rsquo;re not following anyone.  Go follow
    some people.
